:root {
    /* Cores principais */
    --cor-primaria: #4192fc; /* Azul padrão */
    --cor-fundo: #ffffff;
    --cor-menu: #232323;
    --cor-texto-principal: #EAEAEA;
    --cor-texto-secundario: #B0B0B0;

    /* Cores de título e hover */
    --cor-titulo: var(--cor-texto-principal);
    --cor-hover: #ffd700; /* Amarelo para hover */

    /* Cores para botões */
    --cor-botao: var(--cor-primaria);
    --cor-botao-hover: var(--cor-hover);

    /* Cores específicas de ícones de redes sociais */
    --cor-github: #171515;
    --cor-linkedin: #0077b5;
    --cor-instagram: #e1306c;
    --cor-facebook: #1877f2;
    --cor-whatsapp: #25d366;

    /* Outras cores */
    --cor-erro: #B22222;
    --cor-sucesso: #2E8B57;

    /* Tons de cinza */
    --cor-cinza-claro: #A9A9A9;
    --cor-cinza-medio: #6C757D;
    --cor-cinza-escuro: #343A40;
    --cor-cinza-mais-escuro: #212529;

    /* Espaçamentos */
    --espacamento-secao: 80px;
}


* {
    text-decoration: none;
    list-style-type: none;
    border: none;
    box-sizing: border-box;
}

body {
    padding-top: 0px; /* Ajuste para header fixo */
    overflow-x: hidden; /* Impede o scroll horizontal */
}

html {
    overflow-x: hidden;
    font-size: 87.5%; /* Base de 14px */
    font-family: Poppins, sans-serif;
}

/* Compensação do scroll para a altura do cabeçalho */
section {
    scroll-margin-top: 80px; /* Ajuste este valor conforme a altura do cabeçalho */
}

@media (max-width: 768px) {
    section {
        scroll-margin-top: 60px; /* Ajuste menor para dispositivos móveis */
    }
}

/**************************************** SEÇÃO BENIFICIOS ****************************************/



/* Estilo para a seção de antes e depois */
.before-after-slider {
    position: relative;
    overflow: hidden;
    height: 250px; /* Ajuste a altura conforme necessário */
}

.before-after-wrapper {
    display: flex;
    width: 200%;
    transition: transform 0.3s ease;
}

.before-img, .after-img {
    width: 50%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

.before-after-wrapper:hover {
    transform: translateX(-50%);
}

.before-img {
    background-image: url('assets/images/sofa-antes.jpg');
}

.after-img {
    background-image: url('assets/images/sofa-depois.jpg');
}

.card-body {
    position: relative;
}


/* Estilo do botão de WhatsApp fixo */
.whatsapp-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #25d366;
    color: white;
    border-radius: 50px;
    padding: 10px 15px;
    text-decoration: none;
    display: flex;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.whatsapp-button i {
    margin-right: 8px;
}

.whatsapp-button span {
    font-size: 14px;
    display: none; /* Texto adicional somente para telas maiores */
}

@media (min-width: 768px) {
    .whatsapp-button span {
        display: inline;
    }
}
